@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body,td,th,p {
  font: 16px/1.6 Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #c3c3c3;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #fff;
  color: #000;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #004e91;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none;
  color: black;
}
.leaflet-container a {
  color: #003d56 !important;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #242831;
}
.filter-options h2 {
  color: white;
  font-size: 22px;
  font-weight: normal;
  line-height: 2;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px;
  padding: 0 10px;
  width: 200px;
}
#neighborhoods-select:focus, #cuisines-select:focus{
  outline: 0;
  box-shadow: 0 0 5px 2px rgb(207, 207, 207);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  text-align: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
.restaurant-name {
  color: #a85b00;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 2;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
.restaurant-detail-btn {
  background-color: #535353;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 10px 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.container header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  width: 100%;
}
#restaurant-name {
  color: #a85b00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
  /*border-radius: 30px 0 0 0;*/
}
#restaurant-address {
  font-size: 12pt;
  font-weight: bold;
  margin: 10px 0px;
}
#restaurant-cuisine, #restaurant-cuisine-info {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.restaurant-info {
  margin: auto;
  width: 100%;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reviews-container {
  padding-top: 10px;
}
#reviews-container h2 {
  color: #a85b00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px; 
  overflow: hidden;
  padding: 0 20px 20px;
  border-radius: 30px 0 30px 0;
}
.rating {
  color: white;
  background-color: #a85b00;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 10px;
  margin: 8px 0;
}
#reviews-list li div p {
  color: #fff;
  font-size: 18px;
}
#reviews-list li div p:nth-child(2) {
  color: #bababa;
}
#reviews-list li span {
  background-color: #fff;
}
#restaurant-hours {
  border-collapse: collapse;
  margin: 5%;
}
#restaurant-hours td {
  color: #666;
  padding: 0 20px;
}
.review-info{
  background-color: #2f2f2f;
  margin: 0 -20px 0px -18px;
  padding: 20px;
  text-align: center; 
  display: flex;
  justify-content: space-between;
  align-items: center;   
  border-radius: 30px 0px 0 0px;
}

/* ============ Small devices (portrait tablets and large phones, 600px and up) ============ */
@media only screen and (min-width: 435px) {
  #restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
} 

@media only screen and (min-width: 650px) {
  #restaurants-list li {
    width: 40%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #restaurants-list li {
    max-width: 400px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #restaurant-container {
    flex-direction: row;
  }
  .info-container {
    margin: 74px 0;
  }
}